# --- CONFIGURAZIONE HPC (Qwen-VL 72B) ---
# Se il tunnel SSH è attivo, usa host.docker.internal.
# Se l'HPC ha un IP statico raggiungibile, usa quello.
HPC_ENDPOINT=http://host.docker.internal:8000/v1
HPC_MODEL_NAME=qwen-vl

# --- PERCORSI MODELLI (Mappati nel Container) ---
CLASSIFIER_MODEL_PATH=/app/models/swinB_classifier/swinB_classifier.pth
YOLO_MODEL_PATH=/app/models/yolo11/best.pt

# --- CONFIGURAZIONE RAG & DATABASE ---
# La cartella che contiene tutti i tuoi file .md
KB_PATH=/app/data/md_knowledge_base
# La cartella dove ChromaDB salverà i vettori
VECTOR_DB_PATH=/app/data/chromaDB_vector_db

# --- DIRECTORY TEMPORANEE ---
TEMP_DIR=/app/temp

# --- VARIABILE PER SETTARE L'AUGMENT
USE_TTA=true