pandas
numpy
flask
pillow
streamlit
langchain
langchain-community
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
sentence-transformers
# ho tolto torch e torchvision perché vengono installati automaticamente con langchain-huggingface