# Core & UI
pandas
numpy
streamlit
python-dotenv

# AI Orchestration (LangChain)
langchain
langchain-community
langchain-core
langchain-text-splitters  # Per il MarkdownHeaderTextSplitter

# LLM
langchain-groq

# Computer Vision & YOLO
ultralytics
# IMPORTANTE: La versione headless per Docker per evitare errori "libGL.so"
opencv-python-headless

# RAG
chromadb                # Il Database Vettoriale
langchain-chroma        # Il connettore ufficiale LangChain-Chroma
fastembed               # Il modello di embedding